* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*  rendo la nav fixed e stretcho ai lati + bg arancio + colore bianco  */
nav {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ff6900;
    color: white;
    z-index: 2;
}

/* do flex per allineare i contenuti della nav*/
.flex {
    display: flex;
}

/* accentro i contenuti*/
.max-width {
    margin: 0 auto;
    max-width: 60%;
}

nav>div {
    padding: 1rem 0;
}

nav li {
    list-style-type: none;
    margin-right: 1rem;
}

img[alt=boolean-logo] {
    width: 100px;
}

/* definisco misure di un prodotto */
article {
    width: calc((100% / 3) - 1rem);
    height: 400px;
    position: relative;
}

/* posiziono le info in basso rispetto alle misure di article */
.product-info {
    position: absolute;
    top: 100%;
}

/* distanza tra section e bordo superiore */
main>section:first-child {
    padding-top: calc(3rem + 54.2667px);
}

/* bg image */
article.first-row:first-child {
    background-image: url(../img/1.webp);
    background-size: cover;
}

article.first-row:nth-child(2) {
    background-image: url(../img/2.webp);
    background-size: cover;
}

article.first-row:nth-child(3) {
    background-image: url(../img/3.webp);
    background-size: cover;
}

article.second-row:first-child {
    background-image: url(../img/4.webp);
    background-size: cover;
}

article.second-row:nth-child(2) {
    background-image: url(../img/5.webp);
    background-size: cover;
}

article.second-row:nth-child(3) {
    background-image: url(../img/6.webp);
    background-size: cover;
}

/* bg image hover */
article.first-row:first-child:hover {
    background-image: url(../img/1b.webp);
    background-size: cover;
}

article.first-row:nth-child(2):hover {
    background-image: url(../img/2b.webp);
    background-size: cover;
}

article.first-row:nth-child(3):hover {
    background-image: url(../img/3b.webp);
    background-size: cover;
}

article.second-row:first-child:hover {
    background-image: url(../img/4b.webp);
    background-size: cover;
}

article.second-row:nth-child(2):hover {
    background-image: url(../img/5b.webp);
    background-size: cover;
}

article.second-row:nth-child(3):hover {
    background-image: url(../img/6b.webp);
    background-size: cover;
}

/* heart red hover */
article>span:hover {
    color: red;
}

.sp-between {
    justify-content: space-between;
}

/* posizione percentuale sconto */
.discount-info {
    position: absolute;
    bottom: 150%;
}

/* posizione cuore + bg */
article>span {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px 10px;
    background-color: white;
}

.info {
    background-color: red;
    padding: 0.125rem 0.25rem;
    color: white;
    font-size: 0.7rem;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

section:nth-child(2) {
    margin-top: 6rem;
}

footer {
    margin-top: 6rem;
    background-color: #1a1a1a;
    color: white;
    margin-bottom: 1px;
}

footer>section {
    justify-content: space-between;
}

footer>section div {
    padding: 1.5rem 0;
}

.legal-info>span {
    padding-right: 0.5rem;
    margin-top: 1rem;
}

.social-info span {
    padding-right: 0.5rem;
}

.product-info p:nth-child(2) {
    text-transform: uppercase;
    font-weight: 400;
}

.product-info p:first-child {
    font-size: 0.5rem;
}

.discounted-price {
    color: red;
    font-weight: 400;
    font-size: 0.7rem;
}

.real-price {
    font-weight: 100;
    text-decoration: line-through;
    font-size: 0.7rem;
}